/* libs */
/* common */
/* custom fonts */
@font-face {
  font-family: 'AkkuratPro';
  src: url("../fonts/AkkuratPro/AkkuratPro-Regular.woff") format("woff"), url("../fonts/AkkuratPro/AkkuratPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AkkuratPro';
  src: url("../fonts/AkkuratPro/AkkuratPro-Bold.woff") format("woff"), url("../fonts/AkkuratPro/AkkuratPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat_bold-webfont.woff") format("woff"), url("../fonts/Akkurat/akkurat_bold-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Akkurat';
  src: url("../fonts/Akkurat/akkurat_italic-webfont.woff") format("woff"), url("../fonts/Akkurat/akkurat_italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

html {
  height: 100%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  text-decoration: none; }

#cookie-law-info-bar, #cliSettingsPopup, .cli-modal, .cli-modal-backdrop {
  display: none; }

/* blocks */
.body {
  position: relative;
  height: 100%;
  font-size: inherit;
  font-weight: inherit;
  font-family: 'AkkuratPro', sans-serif;
  line-height: 1.2;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff; }

.link {
  text-transform: uppercase;
  color: #a0ffde;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px; }

.button {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  padding: 12px 25px;
  background-color: #a0ffde;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer; }

.button--bordered {
  border: 3px solid #a0ffde;
  color: #fff;
  background-color: transparent; }

.button--bordered:hover {
  background-color: #a0ffde;
  color: #000; }

.button:active,
.button:focus {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  outline: none; }

.modal-dialog-form {
  position: relative;
  max-width: 300px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .modal-dialog-form {
      max-width: 360px; } }
  .modal-dialog-form__email-input {
    font-family: inherit;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: inherit;
    display: inline-block;
    padding-bottom: 10px;
    color: #fff;
    font-size: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    height: auto; }
    .modal-dialog-form__email-input::-webkit-input-placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px; }
    .modal-dialog-form__email-input::-moz-placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px; }
    .modal-dialog-form__email-input:-ms-input-placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px; }
    .modal-dialog-form__email-input::-ms-input-placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px; }
    .modal-dialog-form__email-input::placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px; }
  .modal-dialog-form__email-input:focus {
    color: #fff;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .modal-dialog-form__button-container {
    padding: 30px 0;
    text-align: center; }
  .modal-dialog-form__button {
    width: 280px;
    height: 55px;
    font-size: 16px; }
  .modal-dialog-form__button.active {
    color: #fff;
    background-color: transparent;
    border: 3px solid #a0ffde; }
  .modal-dialog-form__success-message {
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -10px;
    left: 50%;
    color: #fff;
    text-align: center;
    white-space: nowrap; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social__link {
    display: block;
    width: 33px; }
    .social__link img {
      display: block;
      width: 100%; }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 27px 0;
  z-index: 10;
  opacity: 1 !important; }
  @media (min-width: 992px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: static;
      padding: 23px 35px;
      background-color: #000; } }
  .header__logo {
    width: 180px;
    margin: 0 auto; }
    @media (min-width: 992px) {
      .header__logo {
        width: 230px;
        margin: 0; } }
    .header__logo img {
      display: block;
      width: 100%; }
  .header__info {
    display: none; }
    @media (min-width: 992px) {
      .header__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .header__info-link {
    margin-right: 20px; }
  .header__info-link:hover {
    color: #a0ffde; }
  .header__social-link {
    margin-right: 10px; }
    .header__social-link:last-child {
      margin-right: 0; }

.footer {
  position: relative;
  height: 240px;
  padding: 25px 0 35px;
  background-color: #000;
  z-index: 10; }
  @media (min-width: 992px) {
    .footer {
      display: none; } }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
    .footer__text:last-child {
      margin-bottom: 25px; }
  .footer__text-label {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 8px;
    letter-spacing: .125em; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__social-link {
    width: 45px;
    margin-right: 20px; }
    .footer__social-link:last-child {
      margin-right: 0; }
  .footer__text-link {
    font-size: 14px; }
    @media (min-width: 350px) {
      .footer__text-link {
        font-size: 18px; } }
  .footer__text-link:hover {
    color: #a0ffde; }

.main {
  min-height: 300px;
  height: calc(100vh - 240px); }
  @media (min-width: 992px) {
    .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: calc(100vh - 80px); } }
  .main__screen-left {
    display: none; }
    @media (min-width: 992px) {
      .main__screen-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .main__screen-left .screen__title {
      margin-left: 0; }
    .main__screen-left .screen__hidden {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); }
  .main__screen-left.active .screen__hidden {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .main__screen-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main__screen-right .screen__hidden {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
  .main__screen-right.active .screen__hidden {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .main__mobile-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 992px) {
      .main__mobile-block {
        display: none; } }
    .main__mobile-block .button {
      min-width: 280px;
      margin-bottom: 15px; }
      .main__mobile-block .button:last-child {
        margin-bottom: 0; }
    .main__mobile-block .button:hover {
      color: black;
      background-color: #a0ffde; }

.screen {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 300px;
  height: calc(100vh - 240px);
  padding: 50px 0 0;
  overflow: hidden; }
  @media (min-width: 992px) {
    .screen {
      width: 50%;
      height: 100%;
      padding: 80px 0 150px; } }
  .screen__content {
    display: none; }
    @media (min-width: 992px) {
      .screen__content {
        display: block;
        position: relative;
        width: 100%;
        z-index: 5;
        text-align: center; } }
  .screen__title {
    font-size: 6.45vw;
    letter-spacing: .42em;
    margin-left: 3.4vw;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5; }
  .screen__button {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -1.2vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 34vw;
    height: 2em;
    padding: 12px 10px;
    margin: 0 auto;
    letter-spacing: .135em;
    font-size: 2.55vw; }
  .screen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black; }
    .screen__video video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: unset; }
  .screen__hidden {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: url("../img/drops_background.png") no-repeat center;
    background-size: cover;
    padding: 80px 0 150px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    @media (min-width: 992px) {
      .screen__hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .screen__hidden .screen__title {
      color: #212529;
      letter-spacing: .2em; }
  .screen__text-bottom-block {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    color: #000;
    font-size: 1.3vw;
    letter-spacing: .2em;
    text-align: center;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap; }
    .screen__text-bottom-block small {
      font-size: 80%;
      font-weight: normal; }
  .screen__text-top-block {
    position: absolute;
    top: -5.5vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    font-size: 1.3vw;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-style: italic; }

.modal-dialog {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: url("../img/modal-dialog-bg.jpeg") no-repeat top center;
  background-size: cover;
  padding: 120px 0;
  overflow-y: auto; }
  .modal-dialog.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (min-width: 992px) {
    .modal-dialog {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 60px 0; } }
  .modal-dialog__close-button {
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 20;
    padding: 20px;
    cursor: pointer; }
    @media (min-width: 992px) {
      .modal-dialog__close-button {
        top: 60px;
        left: 40px; } }
    .modal-dialog__close-button img {
      display: block;
      width: 23px;
      height: 23px; }
  .modal-dialog__content {
    max-width: 345px;
    min-height: 490px;
    text-align: center; }
    @media (min-width: 992px) {
      .modal-dialog__content {
        max-width: 700px; } }
  .modal-dialog__img {
    width: 100px;
    margin: 0 auto 50px; }
    @media (min-width: 992px) {
      .modal-dialog__img {
        margin: 0 auto 65px; } }
  .modal-dialog__title {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 25px; }
    @media (min-width: 350px) {
      .modal-dialog__title {
        font-size: 32px;
        margin-bottom: 15px; } }
    @media (min-width: 992px) {
      .modal-dialog__title {
        font-size: 64px; } }
  .modal-dialog__text-wrap {
    margin-bottom: 50px; }
  .modal-dialog__text {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.8px; }
    @media (min-width: 992px) {
      .modal-dialog__text {
        font-size: 16px;
        letter-spacing: 1.5px; } }
    .modal-dialog__text:first-child {
      margin-bottom: 15px; }

.loading-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: #000;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .loading-overlay img {
    display: inline-block;
    width: 50px;
    -webkit-animation: loader 2s ease infinite;
    animation: loader 2s ease infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: loader;
    animation-name: loader; }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
