.modal-dialog-form {
  position: relative;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: $screen-lg) {
    max-width: 360px;
    min-height: 150px;
  }

  &__email-input {
    font-family: inherit;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-white;
    text-align: center;
    padding: inherit;
    display: inline-block;
    padding-bottom: 10px;
    color: $color-white;
    font-size: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    height: auto;

    &::placeholder {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
    }
    
    &:focus::placeholder{
        color: transparent;
    }
  }

  &__email-input:focus {
    border: none;
    border-bottom: 2px solid $color-white;
    color: $color-white;
    background: transparent;
    box-shadow: none;
  }

  &__button-container {
    padding: 30px 0;
    text-align: center;
  }

  &__button {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 25px;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
    cursor: pointer;
    width: 280px;
    height: 55px;
    border: 3px solid #a0ffde;

    &:hover {
      background-color: $color-main;
      color: $color-black;
    }
  }

  &__button.active {
    color: $color-white;
    background-color: transparent;
    border: 3px solid #a0ffde;
  }

  &__success-message {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    width: 220px;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    white-space: normal;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1.5px;

    @media (min-width: $screen-lg) {
      width: 360px;
      white-space: nowrap;
    }
  }
}
