$color-black:                #000;
$color-white:                #fff;
$color-main:                 #a0ffde;
$color-dark:                 #212529;
$color-darkest:              #030505;
$color-grey:                 #727272;
$color-green:                 #172B25;
$font-size:                  18px;

$screen-xxs:                  0;
$screen-xs:                   350px;
$screen-sm:                   576px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;